@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

#option {
	top: 100px;
	left: 100px;
}


svg {
	font: 9px 'Open Sans';
}

.axis text {
	font-family: 'Open Sans';
	font-size: 9px;
	fill: #000;
}

.axis .tick line {
	stroke: rgba(0, 0, 0, 0.1);
}
